<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.knime.workbench.repository.nodes">
	<node
            category-path="/"
            factory-class="pl.edu.agh.ed.nodes.frequentPatterns.FrequentPatternExtractorNodeFactory"/>
    <node
            category-path="/"
            factory-class="pl.edu.agh.ed.nodes.frequentSequences.FrequentSequencesExtractorNodeFactory"/>
    <node
            category-path="/"
            factory-class="pl.edu.agh.ed.nodes.frequentPatterns.closed.ClosedFrequentPatternExtractorNodeFactory"/>
    <node
          deprecated="false"
          factory-class="pl.edu.agh.ed.nodes.frequentSequences.closed.ClosedFrequentSequencesExtractorNodeFactory">
    </node>
   </extension>
   
</plugin>
